body {
    background-color: #454547;
    width: 260px;
    height: 364px;
}

h1{
    text-align: center;
    color: white;
    font-family: Century Gothic, sans-serif;
}

input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f0f5ff;
  padding: 12px 20px 12px 40px;
}

#middle{
  padding: 5px 5px 5px 5px;
  background-color: #cedfff;
  border-radius: 4px;
}
